* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* the outer background*/
body {
  font-family: tahoma, sans-serif;
  margin: 0px;
  background-color:#0C121E;
  height: 100vh;

}

body.blog-page {
  overflow: hidden;
  height: 100vh;
}

body .contact-page {
  overflow-y: auto;
  min-height: 100vh;
}


/* The Main Rounded container */
.site-container {
  background-color: #0C121E;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  left: 0;
  right: 0;
}

.navbar {
  background-color: #060912;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

/* The nav bar (top-brand) */
.navbar ul{
  list-style:none;
  padding: 20px;
  margin: 0;
  display: flex;
  gap: 20px; 
}

/* logo design */
.logo {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.logo span {
  color: #F9D423;
}



.navbar a{
  color: #9CA3AF;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}

.navbar a:hover{
  background-color:#1E1E1E;
  color: #F9D423;
  font-weight:bold;
  
}

.navbar li{
  float: left;
}


h1 {
  color: #FFFFFF;
  font-size: 48px;
  margin: 0 0 20px 0;
  background-color: transparent;
}

/* container of cards */
.blog-grid{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

/* individual card styling */
.blog-card {
    background-color: #F5F5F5;
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
/* place holder of the top image part */
.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 50% 43%;
  border-bottom: 2px solid #EEE;
  transition: transform 0.3s ease-in-out;
  transform-origin: center center;
}

.blog-card:hover .card-image {
  transform: scale(1.05);
}

.card-link:hover .blog-card {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* text area inside the card */
.card-content{
  background-color: #FDFDFD;
  padding: 20px;
    
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.category {
    color: #a37d7d;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card-content h3 {
    color: #333;
    margin: 10px 0 20px 0;
    font-size: 20px;
}

.card-link:hover .read-link {
    color: #060912;
}
.read-link {
  color: #333;
  font-weight: bold;
  font-size: 14px;
}

.blog-header {
  text-align: center;
  margin: 50px 0;
}

/* center title */
.blog-title {
  font-size: 3.5rem;
  color: #FFFFFF;
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.blog-title span {
  color: #F9D423;
  text-shadow: 0 0 10px rgba(249, 212, 35, 0.3);
}
.blog-hook {
  color: #9CA3AF;
  font-style: italic;
  font-size: 1.2rem;
  margin-top: 10px;

}
